.git
.DS_Store
.playwright-cli
node_modules
originals
working
qa
demo-site
studio-workspace
dist
output
test-results
.artifacts
release-multires
release-multires-package
*.zip
web-tour/panoramas
web-tour/thumbnails
release/.build-tmp
